* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    .list {
  flex-direction: column;
  justify-content: center;
  }

 a {
      margin: 0;
  }
 
  body{  
width: 100%;
   }

 /*.introformularioEncontranos{
  margin-top: 1rem;
  margin: 1rem;
  font-size: large;
  color: #1a1a1a;
  align-items: center;
  font-size: medium;
  }*/

  h1{
    margin: 0%;
    font-size:36px;
    text-align: center;
    align-content: center;
    color: white;
    padding-top: 20px;
    background-color: #000000;
    width: 100%;
    height: 70px;
    border-top: 20px solid antiquewhite;
  }
  .espacio {
    padding-top: 12px;
  }
  #nombre {
    height: 35px;
  }
  #mail {
    height: 35px;
  }
  .button {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    
      }

  #mensaje1{
    margin: 0%;
    font-size:20px;
    text-align: center;
    align-content: center;
    color: white;
    background-color: black;
    width: 100%;
    height: 70px;
    padding-bottom: 20px;
  }


  #sugerencia{
    margin: 0%;
    font-size: 16px;
    text-align: justify;
    align-content: center;
    color: black;
    background-color:antiquewhite;
    width: 100%;
    height: 65px;
    border-top: 2px solid#fd7023;
    border-bottom: 1px solid black;
    padding-left: 3%;
  }

  .formularioEncontranos{
    display: flex;
    flex-direction: row;
      font-size: medium;
      padding: 3rem;
    justify-content: center;
    /* background-color:rgb(218, 184, 34); */
    
/* background-image: url('../images/textura@300x.png'); */
  }

  form {
    width: 75%;
    padding: 2rem;
    background-color: rgba(241, 137, 68, 0.356);
  border: 1px solid #afafaf;
  border-radius: 1rem;
  background-image: url('../images/textura@300x.png');
  
   }

  label {
    width: 90px;
    text-align: right;
    background-color: bisque;
 }

 .cuadro{
  background-color: white;
  border: #afafaf solid 1px;
 }
 #email{
  height: 30px;
 }

 textarea {
  resize: none;
  text-align:justify ;
  overflow: visible;
  min-height: 50px;
}
.respuesta{
  
  display: flex;
    background-color: white;
    border-bottom: #000000;
    width: 100%;
    height: 40px;
    font-style:italic;
    font-size: large;
    text-align:center;
    justify-content: center;
    align-items: center;
    
  
}
.errorlist{
  background-color: white;
  font-size:medium;
  margin-top: 1%;
  padding-left: 2vw;
}

@media screen and (min-width: 1080px) {

  .list {
    background-color: rgb(255, 255, 255);
  flex-direction: row;
  
  }
    body {
background-color: rgb(255, 255, 255);    }
     
    nav {
      background-color: rgb(255, 255, 255);
      background-size: auto;
      border: 10px;
    }
    form {
      width: 65%;
  }
}
  @media screen and (min-width: 480px) {

    .list {
      background-color: rgb(255, 255, 255);
    flex-direction: row;
    
    }
      body {
  background-color: rgb(255, 255, 255);    }
       
      nav {
        background-color: rgb(255, 255, 255);
        background-size: auto;
        border: 10px;
      }
      form {
        width:55%;
      }
  }
