* {
    margin: 0;
    padding: 0;
}
body header footer {
    width: 100%;
    
}
   
body {
    margin:0
   
}

.imagen1 {
   padding-top: 20px;
}

main {
    height: auto;
}

.TituloConocenos {
    font-size: 2.5rem;
   color: #ffffff;
   text-align: center;
   background-color: rgb(0, 0, 0);
   padding: 1rem;
   padding-bottom: 0;
 }
 
 .bajadaConocenos{
   font-weight: 500;
   font-size: 1rem;
   text-align: center;
   color: #ffffff;
   background-color: rgb(0, 0, 0);
   padding: 10px;
   padding-bottom: 20px;
   padding-top: 0;
 } 
 

.box {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    width: 90%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    
}

.item {
    flex-direction: row; 
    gap: 10px;
    flex-grow: 1;
    justify-content: center; 
    width: 28%;
    height: auto;
    margin: 30px;
    border: solid 1px rgb(223, 226, 226); 
    padding: 30px 30px 30px 30px;
}

#subtit { text-decoration: none; 
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin-bottom: 35px;
}
.item p { 
color: rgb(75, 75, 75);
text-align: left;
}
.volver {
    width: 150px;
    margin: 25px;
   }
   @media screen and (max-width: 800px) { 
    .box {
        flex-direction: column;
        height: auto;}
        .item {
            justify-content: center; 
            width: 80%;
            height: auto;
        }
    }

    @media screen and (max-width: 480px) {

        .box {
        flex-direction: column;
        height: auto;
       }
       .item {
        justify-content: center; 
        width: 80%;
        height: auto;
       }
       .volver {
        width: 140px;
        margin: 25px;
       }
    }
                