* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "lato", sans-serif;
  }

.banner {
    width: 100vw;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    margin-top: 1%;
    padding-top: 3%;
    padding-bottom: 2%;
}

.imgg{
      width: 50vw;
}

.line {
    overflow: hidden;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    align-items:start;
    justify-content: space-evenly;
   }

.container {  
    display: flex;;
    flex-wrap: wrap;
    padding-top: 1vi;
    padding-bottom: 1vi;
    padding-right: 1vi;
    padding-left: 1vi ;
    margin-top: 3vi;
    border-style: hidden;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black ;
    border-left: 1px solid black ;
    width: 25vi;
    height: auto;
    background: white;
    text-decoration: none;
}

h1 {

}

h2{
    font-family: "lato";
    font-size:larger;
    text-align: center;
    color:black;
    background-color: white;
    border-bottom: 1px solid black; 
    border-top:1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 4px;
    margin-bottom: 4px ;
    text-align: center;
}
h2:hover{
    background-color:#a788aba6 ;

}


.tppal {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: black;
    width: 100vw;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;

}


p {
    font-size: 10;
    color: black;
    margin-left: auto;
    margin-right: auto;
    border-color: #fd7023;
    border: 10ch;
    margin-top: 5%;
}

#inf{
    font-size: larger;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    width: 100vw;
    border-bottom: 1px solid black;
    background: #a788aba6;

}
.loguito{
    position: absolute;
    width: 7vw;
    height: 9vw;
    right:10px;
}

.pp{
    font-family: "lato";
    font-size:  bold; 
    font-size: 28px;
    color: white;
    margin: 0%;
    padding: 0%;
}

@media screen and (max-width:800px) {
    .line {
        flex-direction: column;
        height:auto;
    }
    .container{
        width: 80%;
        height: auto;
        justify-content: center;
        margin-left: 10%;
    }
}
    

@media screen and (max-width: 480px) {
                
    .line {
    flex-direction: column;
    height: auto
   }
   .container {
    justify-content: center; 
    width: 80%;
    height: auto;
    margin-left: 10%;
   }
}
