@import 'https://fonts.googleapis.com/css2?family=Jersey+25&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700; 1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,9 00&familia= Sedán:ital@0;1&display=swap'; 

.section1 {
display: flex;
justify-content: center;
height: 100px;
}
.pez {
width: 170px;
height: 155px;
}
 .slogan {
    width: 250px;
    height: 155px;
    align-content: center;
    padding: auto;
 }

.conteiner{
padding-top: 60px;
display: flex;
align-content: center;
justify-content: center;
width: auto;
gap: 20px;
}
        .conteinerdiv{
            background-color: antiquewhite;
            padding: 50px; 
            margin: 60 10 30 10px
            
        }

        @media screen and (max-width: 480px) {

           .slogan {
            flex-direction: column;
            height: auto;
           }
         .conteiner{
            flex-direction: column;
            height: auto;
         }
        }