* {
    margin: 0;
    padding: 0;
}

Body {
    font-family: "lato", sans-serif;
}

nav {
    background-color: rgb(248, 163, 6);
    background-size: auto;
    border: 10px;
    padding: 10px;
}

.line {
    overflow: hidden;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    align-items:start;
    justify-content: space-evenly;
  }

  .socaloFooter{
    font-family: "lato";
    color: white;
    padding: 1%;
    background-color: rgb(0, 0, 0);
  width: 100%;

}

