* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

Body {
  font-family: "lato", sans-serif;
}


nav .list {
display: flex;
float:center;
margin: 0;
padding-top: 70px;
padding-bottom: 1px;
justify-content:space-between;
align-items:center
}

nav .list li {
list-style: none;
}

nav .list a{
display: block;
text-transform:uppercase;
text-align: center;
padding-top: 10px;
padding-bottom: 5px;
font-size: 13px;
color: black;
text-decoration: none;
}

nav .list a:hover{
background-color: #E8ACE4;
border-bottom: 2px solid black
}

.line {
    overflow: hidden;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    align-items:start;
    justify-content: space-evenly;
   }

  .socaloFooter{
    font-family: "lato" black;
    padding: 1%;
    background-color:white;
    width: 100%;

}

